<h1>Listing portafolios</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @portafolios.each do |portafolio| %>
      <tr>
        <td><%= portafolio.titulo %></td>
        <td><%= portafolio.descripcion %></td>
        <td><%= portafolio.user.name %></td>
        <td><%= link_to 'Show', portafolio %></td>
        <td><%= link_to('Edit', edit_portafolio_path(portafolio)) if current_user.id == portafolio.user_id  %></td>
        <td><%= link_to('Destroy', portafolio, method: :delete, data: { confirm: '¿Estas seguro que quieres eliminar este Proyecto?' }) if current_user.id == portafolio.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portafolio', new_portafolio_path %>
