<p id="notice"><%= notice %></p>
<p>
  <strong>Titulo:</strong>
  <%= @portafolio.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @portafolio.descripcion %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @portafolio.user.name, controller: "users", action: "show", id: @portafolio.user.id %>
</p>
<p>
	<%= @portafolio.impressionist_count(:filter=>:session_hash) %>
</p>

<!-- desplegar comentarios -->

<%= simple_form_for ([@user, @portafolio, current_user.comentarios.new ]) do |f|%>
  <%= f.input :body, as: :text  %> 
  <%= f.submit 'Comentar', :class => 'button right' %>
<% end %>

<% @comentarios.each do |c| %>
 <p>
   <%= c.user.name %>
   <%= c.body %>
 </p> 
<% end %>


<%= link_to 'Portafolio ', user_path(@portafolio.user_id) %>