<p id="notice"><%= notice %></p>
<p>
  <strong>Titulo:</strong>
  <%= @portafolio.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @portafolio.descripcion %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @portafolio.user.name, controller: "users", action: "show", id: @portafolio.user.id %>
</p>
<p>
	<%= @portafolio.impressionist_count(:filter=>:session_hash) %>
</p>
<% if current_user === @user %>
	<%= link_to 'Edit', edit_portafolio_path(@portafolio) %> |
<% end %>

<%= link_to 'Portafolio ', user_portafolios_path(@portafolio.user_id) %>
<%= @usersss %>