<%= simple_form_for(@perfil) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user %>
    <%= f.input :nombre %>
    <%= f.input :apellido %>
    <%= f.input :rut %>
    <%= f.input :fecha_nacimiento %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
