<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Salir', salir_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'iniciar sesión', entrar_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Editar Cuenta', editar_path %></li>
<% else %>
  <li><%= link_to 'Registrate', registrate_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Solo Administradores', users_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Crar un nuevo Proyecto' %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit perfil', perfil_path(current_user) %></li>
<% end %>

